.bg-vue {
    background: #41B883 !important;
}

.btn-vue {
    background: #41B883 !important;
    color: #fff;
}


.bg-gray {
    background: #535353 !important;
}

.btn-gray {
    background: #535353 !important;
    color: #fff;
}

table>tbody>tr>td,
table>tbody>tr>th,
table>tfoot>tr>td,
table>tfoot>tr>th,
table>thead>tr>td,
table>thead>tr>th {
    padding: 1px !important;
    font-size: 11px !important;
    white-space: nowrap !important;
    text-transform: uppercase !important;
}

table>thead>tr>th,
table>tfoot>tr>th {
    font-weight: bold;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    content: "" !important;
}
